{% extends 'home/base.html' %}
{% load staticfiles %}


{% block body %}
    <div id="side-menu" class="side-nav">
        <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
        <a href="#">blah</a>
        <a href="#">blah</a>
        <a href="#">blah</a>
        </div>

    <script>
        function openSlideMenu(){
            document.getElementById('side-menu').style.width = '200px';

            document.getElementById('main').style.marginLeft = '200px';
        }

         function closeSlideMenu(){
            document.getElementById('side-menu').style.width = '0px';

            document.getElementById('main').style.marginLeft = '0px';
        }
    </script>

    <div id="main">



    {% if reqd_items %}
        <ul class="list-unstyled">
             <div class="card-deck">
                {% for item in reqd_items %}
                    <li>
                        <div class="card border-info shadow-sm my-card mt-5" style="width: 18rem;">
                            <div class="card-body">
                                <img class="card-img-top" src="{{ item.item_img.url }}" alt="Aw Shit" >
                                <h5 class="card-title">{{ item.item_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">by {{ item.company }}</h6>
                                <p class="card-text text-success">₹{{ item.item_price }}</p>
                                <a href="/{{ item.id }}/" class="btn btn-primary">Learn More</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
             </div>
        </ul>
    </div>
    {% else %}
        <div class="row">
            <div class="col-3">
                <img src="{% static 'home/images/noreply.png' %}" height="600">
            </div>
            <div class="col-9">
               <h1 class="display-1 text-light mt-5 ml-4">Dang! There's Nothing Here.</h1>
            </div>
        </div>
    {% endif %}
{% endblock %}

